@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Loader {
  width: 50px;
  height: 50px;
  border: 10px solid var(--border-color-primary-light);
  border-top: 10px solid var(--border-color-primary);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}