.Wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  }

.Select {
  box-sizing: border-box;
  padding: 10px;
  height: var(--sizing-medium);
  border: 1px solid var(--border-color-secondary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  outline-offset: 4px;
}
