.Button {
  box-sizing: border-box;
  padding: 10px 20px;
  height: var(--sizing-medium);
  border: 0;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  outline-offset: 4px;
}

.Button + .Button {
  margin-left: 10px;
}

.primary {
  background: var(--background-primary);
  color: var(--color-inverse);
}

.primary:hover {
  background: var(--background-primary-dark);
}

.secondary {
  background: var(--background-secondary);
  color: var(--color-text);
}

.secondary:hover {
  background: var(--background-secondary-dark);
}