:root {
  /* Color */
  --color-text: #3a3b41;
  --color-inverse: #fff;
  --color-primary: #0e680e;
  --color-error: #b52518;

  /* Background */
  --background-primary: #0e680e;
  --background-primary-dark: #0a4007;
  --background-secondary: #cfd1d8;
  --background-secondary-dark: #ccc;

  /* Font */
  --font-family: Arial, sans-serif;
  --font-size-medium: 16px;
  --font-size-large: 32px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Border */
  --border-radius: 8px;
  --border-color-primary-light: #e8f5e6;
  --border-color-primary: #0e680e;
  --border-color-secondary: #8e919c;

  /* Sizing */
  --sizing-medium: 54px;
}